<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table>
	<tr>
		<td>URL</td>
		<td>/</td>
		<td>Seu link encurtado</td>
	</tr>
	
	<tr>
		<td>http://<%= shorteneds[0].url %></td>
		<td>/<td>
		<td><%= shorteneds[0].alias %></td>
	</tr>
	
	<br/>

	<h3>Tempo de execução:  <%= time%> milliseconds</h3>
</table>
</body>
</html>