<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de encurtador de url</title>
		</head>
	<body>

		<h1>Encurtar url com custom alias</h1>
		<br />

		<form action="/shortener/custom" method="post">
			<label>http://</label>
			<input type="text" id="url" name="url" required/>
			<br />
			<label>Custom Alias</label>
			<input type="text" id="alias" name="alias" required/>
			<br />
			<input type="submit" value="Enviar" />
		</form>
		<br/>

		<h1>Encurtar url sem custom alias</h1>
		<form action="/shortener/random" method="post">
			<label>http://</label>
			<input type="text" id="url" name="url" required/>
			<br />
			<input type="submit" value="Enviar" />
		</form>
	</body>
</html>