<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Shortener Bemobi</title>
		</head>
	<body>

		<h1>Bem vindo a página inicial</h1>
		<br/>
		<button onclick="window.location.href='/shortener'">Encurtador de URL</button>
		<br/>
		<button onclick="window.location.href='/topten'">TOP 10 urls mais acessadas</button>
		<br/>
		<button onclick="window.location.href='/retrieve'">Acessar URL encurtada</button>


	</body>
</html>