<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Acesse sua URL</title>
		</head>
	<body>
		<h1>Acessar URL encurtada</h1>

		<form action="/retrieve/access" method="post">
			<label>URL</label>
			<input type="text" id="alias" name="alias" />
			<br />
			
			<input type="submit" value="Access" />
		</form>




	</body>
</html>